body {
    background-color: #c8f4f3;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333333;
  }
  
  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 700px;
    height: 380px;
    padding: 30px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  input[type="button"] {
    background-color: #ccc7c7;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  input[type="button"]:hover {
    background-color: grey;
    color: white;
  }
  
  input[type="button"]:active {
    background-color: grey;
    color: white;
  }
  
  ol {
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  